.container {
  padding: 16px 0;
  display: flex;
  max-width: 500px;
  width: 100%;
}

.search {
  border-radius: 12px;
  border: 1px solid var(--global-text);
  color: var(--secondary-text);
  padding: 12px 24px;
  width: 100%;
}

.searchButton {
  margin-left: 12px;
  border: 0;
  border-radius: 12px;
  padding: 12px 24px;
  color: #fff;
  background-color: var(--button-primary);
}

.searchButton:hover {
  background-color: var(--button-primary-hover);
}

.searchButton:disabled {
  background-color: var(--button-disabled);
}